/* General styles for the Create Event form */
.create-event {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-event h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #555;
}

input[type="text"],
textarea {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

#objectives{
  width: 97.2%;
}

#learning_outcomes{
  width: 97.2%;
}

input[type="checkbox"] {
  margin-right: 8px;
}

/* Submit Button */
button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Fieldset Styling */
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

/* Error Message */
.error {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.image-preview {
  margin-top: 15px;
  text-align: center;
}

.image-preview img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

:root{
  --_toggleHeight: 25px;
  --_toggleWidth: calc(var(--_toggleHeight) * 2);
  --_toggleSwitchCircle: calc(var(--_toggleHeight) - 10px);
}
.togglebutton-input{
	height: 0;
	width: 0;
	visibility: hidden;
}

.togglebutton-label {
	cursor: pointer;
	text-indent: -9999px;
	width: var(--_toggleWidth);
	height: var(--_toggleHeight);
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.togglebutton-label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: var(--_toggleSwitchCircle);
	height: var(--_toggleSwitchCircle);
	border-radius: var(--_toggleSwitchCircle);
	background: #fff;
	transition: 0.3s;
}

.togglebutton-input:checked + .togglebutton-label {
	background: #bada55;
}

.togglebutton-input:checked + .togglebutton-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.togglebutton-label:active:after {
	width: 20px;
}